h1{
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 20px;
}
body{
    background-repeat: no-repeat;
    min-height: 100vh;
}
.box-container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.boxtitle{
    margin-bottom: 10px;
    border-radius: 100px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
}
.boxtemp{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}
.box{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.boxmet{
    margin-top: 10px;
    border-radius: 100px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: black;
}
button{
    width: 100%;
    height: 40px;
}
.form-group{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#inputCity{
    height: 40px;
    width: 89%;
}
#buttonloc{
    height: 41px;
    width: 10%;
    border-radius: 5px;
}
#city{
    background-color: black;
    opacity: 0.7;
}
#temp{
    background-color: rgb(235, 141, 155);
    opacity: 0.8;
}
#humidity{
    background-color: lightskyblue;
    opacity: 0.8;
}
#wind{
    background-color: lightslategray;
    opacity: 0.8;
}
#press{
    background-color: rgb(101, 163, 8);
    opacity: 0.8;
}
#meteo{
    background-color: whitesmoke;
    opacity: 0.7;
}